# Ignorar archivos del runner de GitHub Actions
/actions-runner/

# Node.js
node_modules/
npm-debug.log
.env

# Docker
*.log
*.pid
*.sock
*.tar
docker-compose.override.yml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.tmp

# Archivos Istio
/istio-1.25.2